<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../m/assets/mui/css/mui.min.css">
	<link rel="stylesheet" href="../m/css/base.css">
	<script src="../m/assets/zepto/zepto.min.js"></script>
	<script src="../m/assets/artTemplate/template-native.js"></script>
	<script src="../m/assets/mui/js/mui.min.js"></script>
	<script src="../m/js/public.js"></script>
</head>

<body>
	<header class="mui-bar mui-bar-nav my-header">
		<h1 class="mui-title">收获地址列表</h1>
		<a class="mui-icon mui-icon-search mui-pull-right"></a>
	</header>
	<nav class="mui-bar mui-bar-tab my-footer">
		<a class="mui-tab-item" href="index.html">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" href="category.html">
			<span class="mui-icon mui-icon-bars"></span>
			<span class="mui-tab-label">分类</span>
		</a>
		<a class="mui-tab-item" href="cart.html">
			<span class="mui-icon iconfont icon-daohanggouwuche"></span>
			<span class="mui-tab-label">购物车</span>
		</a>
		<a class="mui-tab-item mui-active" href="user.html">
			<span class="mui-icon mui-icon-person"></span>
			<span class="mui-tab-label">会员中心</span>
		</a>
	</nav>
	<div class="mui-content">
		<a href="addAddress.html" class="addAddress">添加收货地址</a>
		<div class="addressBox"></div>
	</div>
	<script src="./js/address.js"></script>
	<script type="text/template" id="addressList">
		<ul id="OA_task_1" class="mui-table-view">
			<% for(var i = 0; i < obj.length; i++){%>
				<li class="mui-table-view-cell">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-green"  href="addAddress.html?id=<%=obj[i].id%>">编辑</a>
						<a href="#" class="mui-btn mui-btn-red removeAddress" data-id="<%=obj[i].id%>">删除</a>
					</div>
					<div class="mui-slider-handle">
						<%=obj[i].recipients%>
					</div>
				</li>
			<% } %>
			</ul>
	</script>
</body>

</html>
