.header {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.header .container > .row .btn {
  padding: 3px 15px;
}
.header .container > .row button:nth-of-type(2) {
  color: #333;
}
.header .container > .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.header .container > .row > div:nth-of-type(-n+3) a {
  color: #333;
}
.wjs_nav > .container > .navbar-header > .navbar-toggle {
  margin-top: 23px;
}
.wjs_nav > .container > .navbar-header > .navbar-brand {
  line-height: 50px;
  height: 80px;
  font-size: 40px;
}
.wjs_nav > .container > .navbar-header > .navbar-brand > span:nth-of-type(1) {
  color: #e92322;
}
.wjs_nav > .container > .navbar-header > .navbar-brand > span:nth-of-type(2) {
  color: #333;
}
.wjs_nav > .container > .navbar-collapse > .navbar-nav li {
  height: 80px;
}
.wjs_nav > .container > .navbar-collapse > .navbar-nav li > a {
  line-height: 50px;
}
.wjs_nav > .container > .navbar-collapse > .navbar-nav li > a:hover {
  border-bottom: 3px solid #e92322;
}
.wjs_nav > .container > .navbar-collapse > .navbar-nav .active > a {
  border-bottom: 3px solid #e92322;
  background-color: transparent;
}
